.bio-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.section-1,
.section-2,
.section-3 {
  width: 33.3%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
  transition: all ease 0.7s;
  position: relative;
}

.section-1 {
  background-image: url("../assets/section-1.jpg");
  background-position: 75%;

}

.section-2 {
  background-image: url("../assets/section-2.jpg");
}

.section-3 {
  background-image: url("../assets/section-3.jpg");
  background-position: 45%;
}

.overlay-1,
.overlay-2,
.overlay-3 {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: all ease 1s;
}

.text-wrapper-1,
.text-wrapper-2,
.text-wrapper-3 {
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 80px;
}

.text-wrapper-1 {
  
}

.text-section-1,
.text-section-2,
.text-section-3 {
  width: 100%;
  padding: 30px;
  margin: auto;
  opacity: .0;
  transition: all ease 1s;
  p {
    font-size: 20px;
  }
  background-color: rgba(0, 0, 0, 0.452);
}

.info-text {
  color: white;
  width: 800px;
  margin: auto;
}

.icon-background {
  display: unset;
  height: 40px;
  width: 50px;

}

.material-icons {
  color: white;
  font-size: 40px;
  transition: all ease-in-out 0.7s;
  cursor: pointer;
}


// .text-section-1 {
//   width: 70%;
//   margin: 100px auto;
// }

